{% extends "opportunities/base.j2" %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}

<div class="container">
    <h1 class="display-4 text-center">My Dashboard</h1>
    <div class="card text-center">
        <div class="card-header">
            <h3>My Jobs</h3>
        </div>
        {% if not jobs %}
            <div class="card-body">
                <h5 class="card-title">No applications are currently being tracked.</h5>
                <p class="card-text">Add a new job to keep track of.</p>
                <a href="{% url 'opportunities-jobs' %}" class="btn btn-primary">Track New Job</a>
            </div>
        </div>
    {% else %}

    <div class="card-deck">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Jobs Currently Tracked</h5>
            <h1 class="card-text">{{ jobs | length }}</h1>
            </div>
            <div class="card-footer">
            <small class="text-muted"></small>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Pending Applications</h5>
            <h1 class="card-text">{{ jobs | length}}</h1>
            </div>
            <div class="card-footer">
            <small class="text-muted"></small>
            </div>
        </div>
            <div class="card">
            <div class="card-body">
            <h5 class="card-title">Track Contacts</h5>
            <p class="card-text">Track the relevant contacts related to your dream jobs to build and maintain your network all in one place.</p>
            </div>
            <div class="card-footer">
            <small class="text-muted"></small>
            </div>
        </div>
    </div>

            
            <div class="card-body">
                <a href="{% url 'opportunities-jobs' %}" class="btn btn-primary">Track New Job</a>
            </div>
            <div class="row mt-5">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead class="thead">
                        <tr>
                            <th>Title</th>
                            <th>Company</th>
                            <th>Application Status</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in jobs %}
                        <tr>
                            <td>{{ job.title }}</td>
                            <td>{{ job.company }}</td>
                            <td>{{ job.application_status }}</td>
                            {# Update job #}
                            <td>
                                <a href="{% url 'opportunities-update-job' job_id=job.id %}" class="btn btn-secondary">Update</a>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        </div>


    {% endif %}


</div>






{% endblock content %}