{% extends "opportunities/base.j2" %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Welcome to StackTrack!</h1>
    <p class="lead">Easily track your job applications so you can get hired</p>
    <hr class="my-4">
        <p>View the jobs you are tracking</p>
    <a class="btn btn-primary" href="{% url 'opportunities-jobs' %}" role="button">My Jobs</a>
</div>

<div class="container">
    <h1 class="display-4">My Dashboard</h1>
        {% if not jobs %}
        <div class="container">
            <div class="jobs">
                <h4>No jobs tracked yet</h4>
            </div> 

        </div>
    {% else %}

        <div class="row justify-content-center mt-5">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Title</th>
                            <th>Employment Type</th>
                            <th>Salary</th>
                            <th>Description</th>
                            <th>Application Status</th>
                            <th>Application Date</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in jobs %}
                        <tr>
                            <td>{{ job.company }}</td>
                            <td>{{ job.title }}</td>
                            <td>{{ job.employment_type }}</td>
                            <td>{{ job.salary }}</td>
                            <td>{{ job.description }}</td>
                            <td>{{ job.application_status }}</td>
                            <td>{{job.application_date|date:'Y-m-d'}}</td>
                            {# Update job #}
                            <td>
                                <a href="{% url 'opportunities-update-job' job_id=job.id %}" class="btn btn-secondary">Update</a>
                            </td>
                            <td>
                                {#  Delete a job #}
                                <a href="{% url 'opportunities-delete-job' job_id=job.id %}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

        
    {% endif %}


</div>






{% endblock content %}