{% extends "opportunities/base.j2" %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}

<div class="jumbotron">
  {% if user.is_authenticated %}
  <h1 class="display-4">Welcome to StackTrack!</h1>
  <p class="lead">Easily track your job applications so you can get hired</p>
  <hr class="my-4">
    <p>View the jobs you are tracking</p>
    <a class="btn btn-primary" href="{% url 'opportunities-jobs' %}" role="button">My Jobs</a>
  {% else %}
  <h1 class="display-4">Welcome to StackTrack!</h1>
  <p class="lead">Easily track your job applications so you can get hired</p>
  <hr class="my-4">
    <p>Sign up for free to start tracking your job applications</p>
    <a class="btn btn-primary" href="{% url 'register' %}" role="button">Get Started</a>
    <div class="pt-1">
      <small class='text-muted'>
          Already Have an Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
      </small>
    </div>
  {% endif %}
</div>



<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{% static 'opportunities/images/desk.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Track Jobs</h5>
      <p class="card-text">Track each of your job applications in one place with your dashboard. Update the status of your applications to view the most relevant opportunities.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'opportunities/images/developer.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Track Skills</h5>
      <p class="card-text">Track the skills required for each job to check how comfortable you are with each one.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
    <div class="card">
    <img class="card-img-top" src="{% static 'opportunities/images/books.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Track Contacts</h5>
      <p class="card-text">Track the relevant contacts related to your dream jobs to build and maintain your network all in one place.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
</div>

<div class="card text-center">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="card-title">Remove the hassle of tracking all of your job applications</h5>
    <p class="card-text">View and manage your job applications in your user dashboard </p>
    <a href="{% url 'register' %}" class="btn btn-primary">Get Started</a>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>




{% endblock content %}