{% extends "opportunities/base.j2" %}
{% load crispy_forms_tags %}

{% block title %}
    Jobs
{% endblock %}

{% block content %}

    <h1> JOBS </h1>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addJobModal">
    Track Another Job
    </button>

{# Reference: https://getbootstrap.com/docs/4.0/components/modal/ #}
<!-- Modal -->
    <div class="modal fade" id="addJobModal" tabindex="-1" role="dialog" aria-labelledby="addJobModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addJobModalLabel">Enter Job Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body add-job-modal-body">
                <form method="POST" enctype="multipart/form-data">
                
                    <!-- Security token -->
                    {% csrf_token %}
                
                    <!-- Using the formset -->
                    {{ form | crispy }}
                    
                    <input  type="submit" value="Submit">
                </form>
            </div>
            </div>
        </div>
    </div>

    {% if not jobs %}
        <div class="container">
            <div class="jobs">
                <h4>No jobs tracked yet</h4>
            </div> 

        </div>
    {% else %}

        <div class="row justify-content-center mt-5">
            <div class="col-md-12">
                <table class="table table-hover" id="sortTable">
                    <thead class="thead-dark">
                        <tr>
                            <th onclick="sortTable(0)">Company</th>
                            <th onclick="sortTable(1)">Title</th>
                            <th onclick="sortTable(2)">Employment Type</th>
                            <th onclick="sortTable(3)">Salary</th>
                            <th onclick="sortTable(4)">Description</th>
                            <th onclick="sortTable(5)">Skills</th>
                            <th onclick="sortTable(6)">Application Status</th>
                            <th onclick="sortTable(7)">Application Date</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in jobs %}
                        <tr>
                            <td>{{ job.company }}</td>
                            <td>{{ job.title }}</td>
                            <td>{{ job.employment_type }}</td>
                            <td>{{ job.salary }}</td>
                            <td>{{ job.description }}</td>
                            <td>
                                {% for skill in job.skills.all %}
                                    {{skill}}
                                {% endfor %}
                            </td>
                            <td>{{ job.application_status }}</td>
                            <td>{{job.application_date|date:'Y-m-d'}}</td>
                            {# Update job #}
                            <td>
                                <a href="{% url 'opportunities-update-job' job_id=job.id %}" class="btn btn-secondary">Update</a>
                            </td>
                            <td>
                                {#  Delete a job #}
                                <a href="{% url 'opportunities-delete-job' job_id=job.id %}" class="btn btn-danger" onclick="confirmationMsg(event)">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

{% endblock content %}