{% extends "opportunities/base.j2" %}

{% block title %}
    Create Job to Track
{% endblock %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Lorem Ipsum</h1>
  <p class="lead">Lorem Ipsum</p>
  <hr class="my-4">
 
</div>

<div class="container">

</div>






{% endblock content %}