{% extends "opportunities/base.j2" %}
{% load crispy_forms_tags %}

{% block title %}
    My Skills
{% endblock %}

{% block content %}

    <h1> Skills </h1>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSkillScreen">
    New skill
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="addSkillScreen" tabindex="-1" role="dialog" aria-labelledby="addSkillScreenLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSkillScreenLabel">Name your skill</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body add-skill-modal-body">
                <form method="POST" enctype="multipart/form-data">
                
                    <!-- Security token -->
                    {% csrf_token %}
                
                    <!-- Crispy Form -->
                    {{ form | crispy }}
                    <input type="submit" class="btn btn-success" value="Add Skill">
                </form>
            </div>
            </div>
        </div>
    </div>

    {% if not skills %}
    <div class="container">
            <div class="skills">
                <h4>Understand if you're a good fit for a job by expanding your skillset</h4>
            </div> 
        </div>

    {% else %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Skill name</th>
                        <th colspan="1"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for skill in skills %}
                    <tr>
                        <td>{{ skill.name }}</td>
                        <td>
                            <!-- Delete a skill -->
                            <a href="{% url 'opportunities-delete-skill' skills_id=skill.id %}" class="btn btn-danger" onclick="confirmationMsg(event)">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
        {% endif %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}