{% extends "opportunities/base.j2" %}
{% load crispy_forms_tags %}

{% block title %}
Update Contact
{% endblock %}

{% block content %}

<div class="container">
    <div class="main">
        <!-- Create a Form -->
        <form method="POST">
            <!-- Security token by Django -->
            {% csrf_token %}

            <!-- form as paragraph -->
            {{ form | crispy }}
            <input type="submit" class="btn btn-secondary" value="Update">
            <a href="{% url 'opportunities-contacts' %}" class="btn btn-danger">Cancel</a>

        </form>
    </div>
</div>

{% endblock content %}